html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.card {
  background-color: white;
  border-radius: 20px;
  width: 460px;
  height: 33%;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0px;
  min-width: 200px;
  margin: auto;
}

.card .card-image {
  flex: 1 1 auto;
  width: 440px;
  height: 240px;
  margin: 10px;
  padding: auto;
}

.card-image {
  max-width: max-content;
  width: 450px;
  margin: 5px;
  border-radius: 10px;
}

.card-content {
  margin: 0%;
  padding: 10px 15px;
}

.card-title {
  color: #353535;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.card-subtitle {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
}

.heart-icon {
  position: relative;
}

/**********
.heart-icon {
    height: 53px;
    width: 43px;
        min-width: 100px;
    border: 1px solid var($bg-grey);
    justify-content: right;
    align-items: flex-end;
}
*********/
.fa-heart {
  display: flex;
  justify-content: flex-start;
  padding-top: 0;
  padding: 15px;
  justify-content: right;
  border: 2px solid var(grey);
}

.heart-icon::before {
  height: 53px;
  width: 43px;
  background-color: rgb(147, 86, 220);
}

.heart-icon::before :hover {
  background-color: rgb(147, 86, 220);
}

.section {
  background-color: #fff;
  padding: 50px 0;
}
.section-title {
  margin-top: 0;
}

.section-title {
  font-family: Roboto;
  font-size: xx-large;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.sub-title {
  font-family: Roboto;
  font-weight: 800;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

h2, h3 {
  font-weight: 300;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a, a:visited, a:active {
  text-decoration: none;
}

.bg-grey {
  background-color: grey;
}

.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 14px, 0px 13px 0px;
}

.nav-logo {
  padding-top: 30px;
  height: 100px;
  max-width: 250px;
  margin-bottom: 5px;
}

/***
.h2 {
    background-color: $grey-heading-color;
    font-family: Roboto;
    font-weight: 300;
    text-align: center;
    width: 124px;
    height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
***/
.search-container {
  display: inline-block;
  padding-top: 10px;
  width: 100%;
  height: 50px;
  background-color: #ff79da;
  text-align: center;
}

.search-icon {
  background-color: transparent;
  color: grey;
  height: 40px;
  width: 45px;
  border-style: none;
}

.fa-map-marker-alt {
  color: rgb(70, 69, 69);
  min-width: 50px;
}

.location-input {
  border-style: none;
  color: transparent;
  font-family: Roboto;
  font-size: large;
  border-radius: 0;
}

.loc-search {
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.section-how {
  align-items: center;
}

/***.explorerestaurant {
    display: flex;
    justify-content: center;

    block-size: auto;
    text-decoration: none;
}
*****/
.button {
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 1px;
  padding-inline-start: 25px;
  margin-bottom: 50px;
  border-radius: 25px;
  width: 188px;
  height: 30px;
  font-family: Roboto;
  color: white;
  font-weight: 700;
  font-size: medium;
  padding-top: 10px;
  background: rgb(162, 86, 220);
  background: linear-gradient(356deg, rgb(162, 86, 220) 39%, rgb(255, 121, 218) 100%);
  display: inline-block;
  display: flex;
}

.style_orderlist {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  font-family: Roboto;
  font-weight: 300;
  font-size: medium;
  height: 25px;
  justify-content: center;
  border-radius: 10px;
}

body {
  background: #ffffff;
  color: #353535;
}

/*# sourceMappingURL=styles.css.map */
