html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.section {
  box-sizing: border-box;
  margin: auto;
  max-width: 500px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.card .card-image {
  height: 240px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-content {
  padding: 10px 15px;
}

.card-title {
  margin-top: 0px;
}

.heart-icon {
  position: relative;
}

/**********
.heart-icon {
    height: 53px;
    width: 43px;
        min-width: 100px;
    border: 1px solid var($bg-grey);
    justify-content: right;
    align-items: flex-end;
}
*********/
.fa-heart {
  display: flex;
  justify-content: flex-start;
  padding-top: 0;
  padding: 15px;
  justify-content: right;
  border: 2px solid var(#f6f6f6);
}

.heart-icon::before {
  height: 53px;
  width: 43px;
  background-color: rgb(147, 86, 220);
}

.heart-icon::before :hover {
  background-color: rgb(147, 86, 220);
}

.section {
  background-color: #fff;
  padding: 50px 0;
}
.section-title {
  margin-top: 0;
}

.section-title {
  margin-top: 0;
}

h2,
h3 h5 {
  font-weight: 300;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.bg-grey {
  background-color: #f6f6f6;
}

.navbar {
  background-color: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 14px, 0px 13px 0px;
  box-shadow: 0em 0.1em 0.5em rgb(142, 142, 139);
}

.nav-logo {
  padding-block: 20px;
  height: 113px;
  width: 375px;
  margin-bottom: 5px;
}

.nav-loc {
  display: inline-block;
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  padding-block: 25px;
}

/***
.fas .fa-map-marker-alt {
    display: flex;
    justify-content: center;
    display: inline-block;
    margin-inline: auto;
    padding: auto;
    height: 40px;
    width: 45px;
    color: $bg-grey;
    border-style: none;
    background-color: transparent;
}
***/
.fa-map-marker-alt {
  color: rgb(70, 69, 69);
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/***.explorerestaurant {
    display: flex;
    justify-content: center;

    block-size: auto;
    text-decoration: none;
}

.section bg-grey {
    display: flex;
}
*****/
.button {
  margin-inline: auto;
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 1px;
  padding-inline-start: 25px;
  margin-bottom: 50px;
  border-radius: 30px;
  width: 250px;
  height: 50px;
  font-family: Roboto;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  padding-top: 25px;
  background: rgb(162, 86, 220);
  background: linear-gradient(356deg, rgb(162, 86, 220) 39%, rgb(255, 121, 218) 100%);
  box-shadow: rgb(179, 176, 180);
  display: inline-block;
  display: flex;
}

.order-title {
  font-family: Roboto;
  font-weight: 900;
  height: 22px;
  margin-top: 25px;
  text-align: center;
}

.ordered-list {
  list-style: none;
  counter-reset: mycounter;
}

.ordered-list__item {
  counter-increment: mycounter;
  margin: 0.25rem;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  padding: 1rem 1rem 1rem 0;
  list-style-position: inside;
}

.ordered-list__item::before {
  content: counter(mycounter);
  background: #9356DC;
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
  display: inline-block;
  line-height: 2rem;
  color: #fff;
  text-align: center;
  margin-right: 0.5rem;
  margin-left: -1rem;
}

/*
ol li {

    background: rgb(162, 86, 220);
    margin: 0px;

    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 2rem;
    border: 0;
    border-radius: 50%;
    justify-content: center;
    width: 30px;
    height: 29px;
    align-items: center;
}
*/
.orderlist-icon {
  padding: 25px;
}

.fa-mobile-screen-button .fa-solid .fa-store {
  color: rgb(140, 144, 148);
  height: 80px;
  width: 85px;
}

/***********
ol li {
    background: rgb(162, 86, 220);

    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;

    color: white;
    text-align: center;
}********/
body {
  background: #ffffff;
  color: #353535;
}

/*# sourceMappingURL=styles.css.map */
