.section__button {

    border-radius: 30px;
    background: rgb(220, 110, 219);
    background: linear-gradient(169deg, rgba(220, 110, 219, 1) 27%, rgba(165, 92, 220, 1) 100%);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0.3);
    min-width: 155px;
    display: inline-block;
    padding: 12px 20px;

}

.card-new {

    background-color: #99e2d0;
    color: #008766;
    font-family: Roboto;
    text-align: center;
    font-weight: 500;
    line-height: 1.1;
    width: 80px;
    height: 29px;
    border: none;
    border-radius: 5px;
    padding-top: 7px;
}

/**
.section__button a {

    font-family: Roboto;
        color: white;
        text-align: center;
        
}
**/