.section {
    position: relative;
    block-size: auto;
    justify-content: center;

}


.section__button {
    margin-inline: auto;
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 1rem;
    padding-inline-start: 40px;
    margin: 50px auto 60px auto;
    border-radius: 30px;
    width: 250px;
    height: 50px;
    background: rgb(162, 86, 220);
    background: linear-gradient(356deg, rgba(162, 86, 220, 1) 39%, rgba(255, 121, 218, 1) 100%);
    box-shadow: rgb(179, 176, 180);
    display: inline-block;
    display: flex;
}

.card-new {

    background-color: #99e2d0;
    color: #008766;
    font-family: Roboto;
    text-align: center;
    font-weight: 500;
    line-height: 1.1;
    width: 80px;
    height: 29px;
    border: none;
    border-radius: 5px;
    padding-top: 7px;
}

/**
.section__button a {

    font-family: Roboto;
        color: white;
        text-align: center;
        
}
**/