.section__button {

    border-radius: 30px;
    background: rgb(220, 110, 219);
    background: linear-gradient(169deg, rgba(220, 110, 219, 1) 27%, rgba(165, 92, 220, 1) 100%);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0.3);
    min-width: 155px;
    display: inline-block;
    padding: 12px 20px;
    cursor: pointer;
    margin: 10px;
    position: relative;
    transition: 0.8s;
    overflow: hidden;

    .section__button::before {
        content: "";
        position: absolute;
        background: $gradient-bgcolor;
        right: 0%;
        width: 0%;
        height: 0%;
        z-index: -1;
        transition: 0.8s;
    }

    .section__button:hover {
        background-color: $purple-pink-gradient-color;
        transition: ease-in-out 0.8s;
    }
}

.card-new {

    background-color: #99e2d0;
    color: #008766;
    font-family: Roboto;
    text-align: center;
    font-weight: 500;
    line-height: 1.1;
    width: 80px;
    height: 29px;
    border: none;
    border-radius: 5px;
    padding-top: 7px;
}

/**
.section__button a {

    font-family: Roboto;
        color: white;
        text-align: center;
        
}
**/