.section {
    box-sizing: border-box;
    margin: auto;
    max-width: 500px;

}

.card {
    background-color: white;
    border-radius: $border-radius;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.card .card-image {
    height: 240px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-content {
    padding: 10px 15px;
}

.card-title {
    margin-top: 0px;
}

.card-subtitle {}

.heart-icon {
    position: relative;

}

/**********
.heart-icon {
    height: 53px;
    width: 43px;
        min-width: 100px;
    border: 1px solid var($bg-grey);
    justify-content: right;
    align-items: flex-end;
}
*********/
.fa-heart {
    display: flex;
    justify-content: flex-start;
    padding-top: 0;
    padding: 15px;
    justify-content: right;
    border: 2px solid var($bg-grey);

}

.heart-icon::before {
    height: 53px;
    width: 43px;
    background-color: $gradient-bgcolor;
}

.heart-icon::before :hover {
    background-color: $gradient-bgcolor;
}