.card{
    background-color: white;
    border-radius: $border-radius;
    width: 136px;
    height: 33%;
    flex: 1 0 0;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0px;
    min-width: 200px;
}
.card-image{
    width: 200%;
    height: 100%;
}
.card-content{
    padding: 20px 15px;
}

.card-title .card-title {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.heart-icon{
    height: 23px;
    width: 23px;
    border: 1px;
    justify-content: right;
    align-items: flex-end;
}
.fa-sharp .fa-thin .fa-heart{
    color: $icon-color;
}