.footer {
    margin: 0;
    background-color: $footer-background;

    /** 
    position: fixed;
    bottom: 0.4rem;
    right: 16px;
    
    padding: 16px;
    color: #ffffff;
    background-color: $text-color;*

**/
}

.footer-col {
    width: 0;
    padding: 100px 60px;
}

.footer-logo {
    font-family: Shrikhand;
    color: #ededed;
}


.footlink {
    padding: 0 30px 10px 20px;
    text-align: center;
}