.fa-heart {
    display: flex;
    justify-content: flex-start;
    padding-top: 0;
    padding: 15px;
    justify-content: right;
    border: 2px solid var($bg-grey);

}


.fa-mobile-screen-button .fa-solid .fa-store .fa-light .fa-heart {
    border: 2px solid var($bg-grey);

}