    .menu-item-checked {
        background-color: #99e2d0;
        color: #008766;
        text-align: center;
        line-height: 1.1;
        width: 80px;
        height: 29px;
        border: none;
        padding-top: 7px;

    }

    .menu-item-checked {
        background-color: #008766;
        color: $text-color;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 3px;
        padding: 10px 10px;
        font-weight: 700;
    }