.navbar {
    background-color: $BgColor;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 14px, 0px 13px 0px;
}

.nav-logo {
    padding-top: 30px;
    height: 100px;
    max-width: 250px;
    margin-bottom: 5px;

}

/***
.h2 {
    background-color: $grey-heading-color;
    font-family: Roboto;
    font-weight: 300;
    text-align: center;
    width: 124px;
    height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
***/
//

.search-container {
    display: inline-block;
    padding-top: 10px;
    width: 100%;
    height: 50px;
    background-color: $secondaryBgColor;
    text-align: center;
}

.search-icon {
    background-color: transparent;
    color: $bg-grey;
    height: 40px;
    width: 45px;
    border-style: none;
}

.fa-map-marker-alt {
    color: rgb(70, 69, 69);
    min-width: 50px;
}

@font-face {
    font-family: Roboto;
    src: url('/fonts/roboto-regular.woff2') format('woff2');
}

.location-input {
    border-style: none;
    font-family: Roboto;
    font-size: large;
    border-radius: 0;
    $primaryColor: #9356DC;
}

.loc-search {
    font-family: Roboto, sans-serif;
    font-weight: 700;

}

.section-how {
    align-items: center;
}