.order-title {
    font-family: Roboto;
    font-weight: 900;
    height: 22px;
    margin-top: 25px;
    text-align: center;

}

.ordered-list {

    list-style: none;
    counter-reset: mycounter;

}

.ordered-list__item {
    counter-increment: mycounter;
    margin: 0.25rem;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    padding: 1rem 1rem 1rem 0;

    list-style-position: inside;

}

.ordered-list__item::before {
    content: counter(mycounter);
    background: #9356DC;
    width: 2rem;
    height: 2rem;
    border-radius: 20px;
    display: inline-block;
    line-height: 2rem;
    color: #fff;
    text-align: center;
    margin-right: 0.5rem;
    margin-left: -1rem;
}


/*
ol li {

    background: rgb(162, 86, 220);
    margin: 0px;

    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 2rem;
    border: 0;
    border-radius: 50%;
    justify-content: center;
    width: 30px;
    height: 29px;
    align-items: center;
}
*/
.orderlist-icon {
    padding: 25px;
}

.fa-mobile-screen-button .fa-solid .fa-store {
    color: rgb(140, 144, 148);
    height: 80px;
    width: 85px;
}

/***********
ol li {
    background: rgb(162, 86, 220);
    
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    
    color: white;
    text-align: center;
}********/