.section {
    background-color: #fff;
    padding: 50px 0;

    &-title {
        margin-top: 0;
    }
}

.section-title {
    font-family: Roboto;
    height: 50px;
    font-size: xx-large;
    color: black;
    font-weight: bolder;
    font-style: normal;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.sub-title {
    font-family: Roboto;
    font-weight: 400;
    height: 22px;
    display: flex;
    justify-content: center;
    margin-block: 25px;
    margin-bottom: 50px;
}

.section-title {
    font-family: Roboto;
    text-align: left;
    font-weight: bolder;
}