.bg-grey {
    background-color: $bg-grey;
}

h1 {
    $font-family: Roboto;
    text-align: center;
    color: #000000;
}

p {
    color: #353535;
    text-align: center;
}

ol li {
    justify-content: center;
    justify-content: space-between;
}