$border-radius:20px;
$bg-light: #fff;
$bg-grey: grey;
$BgColor:#ffffff
$secondaryBgColor: #ff79da;
$primaryColor:#9356DC;
$tertiaryColor:#99E2D0;
$grey-heading-color: #353535;
$icon-color: #7e7e7e;
$text-color:#353535;
$font-weight: (
    "regular":400,
    "medium":500,
    "bold":700,
);

$footer-background: #353535;
