@import'variables';
@import 'boilerplate';
@import'card';
@import 'section';
@import 'typography';
@import'utils';
@import'navbar';
@import'button';
@import'orderlists';
@import'icons';

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: $BgColor;
    color: $text-color;
    margin: 0;
}