@import'variables';
@import 'boilerplate';
@import'card';
@import 'section';
@import 'typography';
@import'Utils';
@import'header';

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: $BgColor;
    color: $text-color;
}

