.footer {
    font-size: 16px;
    position: fixed;
    bottom: 0.4rem;
    right: 16px;
    text-align: center;
    padding: 16px;
    color: #ffffff;
    background-color: $text-color;
}

.footer_container {
    background-color: $footer-background;
    padding: 22px 25px;
    margin-top: 60px;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    padding: 20px 0;
    height: 30px;
}